<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <script>
        function selectAll(selectAll)  {
            const checkboxes = document.getElementsByName('idx');
       
            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked;
            });
        }
    </script>

    <script>
        function btn_click(str){
            if(str=="update"){
                document.frm.action ='update'
                document.frm.method ='GET'
            }
            if(str=="delete"){
                document.frm.method ='POST'
                document.frm.action ='delete'
            }
            document.frm.submit();
        }
    </script>
   
    <h1>회원관리</h1>
    <input type="button" class="btn" onclick=" location.href='/user'" value="회원 관리"/>
<input type="button" class="btn" onclick=" location.href='/product'" value="상품 관리"/>
<input type="button" class="btn" onclick=" location.href='/store'" value="입점 업체 관리"/>
    <form name="frm">
        <a href="/user/create">글 생성</a>
        <input type="button" onclick="btn_click('update')" value="UPDATE">
        <input type="button" onclick="btn_click('delete')" value="DELETE">
        <table border="1">
            <tr>
                <td><input type="checkbox" id="checkall" onclick='selectAll(this)'></td>
                <td>번호</td>
                <td>이름</td>
                <td>이메일</td>
                <td>가입일</td>
            </tr>
            <%
            for(var i=0; i<rows.length; i++)
            {
                var data = rows[i];
            %>
            <tr>
                <td><input type="checkbox" name="idx" value=<%=data.idx%>></td>
                <td><%=data.idx%></td>
                <td><%=data.name%></td>
                <td><%=data.email%></td>
                <td><%=data.created%></td>
            </tr>
            <%}%>
        </table>
    </form>
    
    
</body>
</html>